@charset "UTF-8";

h1 {
    background-color: burlywood;
    height: 100px;
    margin: 10px;
    text-align: center;
    padding-top: 30px;
}

a {
    margin: 10px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    margin: 0px;
}

header {
    background-color: burlywood;
    padding: 10px;
    margin: 10px;
}

nav {
    background-color: burlywood;
    padding: 3px;
    box-shadow: 5px 3px 7px 0.1px rgba(0, 0, 0, 0.342);
    margin: 10px;
}
nav > a {
    text-decoration: none; 
    font-weight: bold;
    color: white;
    margin-right: 30px;
}

nav > a:hover {
    text-decoration: underline; color: rgb(243, 9, 9);
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 25px 0px 25px 0px;
}
article {
    background-color: burlywood;
    padding: 5px;
    border-radius: 2px 0px 2px 0px;
    box-shadow:  3px 4px 3px 1px rgba(0, 0, 0, 0.342);
}

article > aside {
    background-color: whitesmoke    
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
    margin: 10px; 
}
div#bola {
    background-color: burlywood;
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 50%;
}